:root {
  --text-color: #f1f2f9;
  --bg-color: #f2f2f2;
  --primary-color: #4686ff;
  --hover-color-primary: #2d5aa7;
  --secondary-color: #fefcfb;
  --hover-color-secondary: #e0dedc;
  --accent-color: #ffb084;
  --hover-color-accent: #ff9c6e;
}
