@import url('font-sets.css');
@import url('color-scheme-light.css');
@import url('color-scheme-dark.css');

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100%;
  float: left;
}

/* Styles for the header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

li, a, button {
  font-family: 'Metropolis';
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Metropolis';
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.logo img {
  width: 30px; /* Adjust the width of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add spacing between logo and text */
}

.logo span {
  display: inline-block;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li {
  display: inline-block;
  padding: 10px 20px;

}

.nav-link {
  font-family: 'Metropolis';
  font-weight: bold;
  color: var(--text-color);
  transition: all 0.4s;
  position: relative;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  display: block;
  position: relative;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav-link:hover::after{
  opacity: 1;
}

.current-page::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  display: block;
  position: relative;
  left: 0;
  bottom: -8px;
  pointer-events: none;
}