:root {
  --primary-color: #137cbd;
  --primary-contrast-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  user-select: none;
}

li, a, button {
  font-family: 'Metropolis';
  font-weight: bold;
  color: var(--primary-contrast-color);
  text-decoration: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}

.logo {
  font-family: 'Metropolis';
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-contrast-color);
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li {
  display: inline-block;
  padding: 10px 20px;

}

.nav-link {
  font-family: 'Metropolis';
  font-weight: bold;
  color: var(--primary-contrast-color);
  transition: all 0.4s;
  position: relative;
}

.nav-link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--primary-contrast-color);
  display: block;
  position: relative;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav-link:hover::after{
  opacity: 1;
}

.current-page::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--primary-contrast-color);
  display: block;
  position: relative;
  left: 0;
  bottom: -8px;
  pointer-events: none;
}


@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
