@import url('font-sets.css');
@import url('common.css');

/* Styles for the lesson itself */

.text-container{
    color: var(--text-color);
    width: auto;
    padding: 0px 200px;
}

p {
    font-family: 'Open Sans';
    text-align: left;
    line-height: 1.5;
    font-size: 17px;
}
pre {
    user-select: text;
    color: var(--primary-color);
    padding: 10px;
    font-family: 'Cascadia Code';
    font-weight: normal;
    font-size: 17px;
    line-height: 1.45;
    text-rendering: optimizeSpeed;
    background-color: #ededed;
    /* border-radius: 10px; */
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
}

/* Styles for the next lesson button */

.continue-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 60px 0px 30px 0px ;
}

.continue-button {
    height: 80px;
    width: 350px;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    display: grid;
    place-items: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.continue-button:hover {
    transform: scale(1.1);
}
