body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #F0F6FF;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #137CBD;
  color: #FFFFFF;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="password"],
.form button {
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow to form boxes */
}

.form input[type="text"]:last-child,
.form input[type="password"]:last-child {
  margin-bottom: 40px;
}

.form button:last-child {
  margin-bottom: 40px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Adjust the box shadow on focus if desired */
}

.form button {
  background-color: #137CBD;
  color: #FFFFFF;
  cursor: pointer;
}

.form button:last-child {
  background-color: #FFFFFF;
  color: #137CBD;
}

.form .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* Adjust the spacing between form boxes and buttons */
}

.form .button-wrapper button {
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 10px; /* Decrease the spacing between buttons */
  width: 350px;
  box-sizing: border-box; /* Ensure the padding is included in the width */
}
