@import url('font-sets.css');
@import url("color-scheme-light.css");

/* Styles for the entire login screens */

body {
  margin: 0;
  font-family: 'Metropolis';
  font-weight: normal;
  display: flex; 
  height: 100vh;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  user-select: none;
}

.logo {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 15px;
  display: flex;
  align-items: center; 
}

.logo img {
  width: 70px;
  height: auto; 
  margin-right: 20px; 
}

.description {
  font-style: italic;
  font-size: 24px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
}

/* Styles for the form */

.form input[type="text"],
.form input[type="password"],
.form button {
  font-family: 'Metropolis';
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  outline: var(--primary-color) solid 2px;
}

.form input[type="text"]::placeholder,
.form input[type="password"]::placeholder {
  color: #999999; 
}

/* Styles for the buttons */

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.first-button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  transition: transform 0.2s;
}

.second-button {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  outline: var(--accent-color) solid 2px;
  transition: transform 0.2s;
}

.password {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: transform 0.2s;
} 

.hidden {
  display: none;
}

.first-button:hover {
  transform: scale(1.11);
}

.second-button:hover {
  transform: scale(1.11);
}

/* Styles of the floating box */

.floating-box {
  position: absolute;
  width: 550px;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.floating-box p {
  text-align: center;
  color: var(--text-color);
}

.floating-box button {
  font-family: 'Metropolis';
  margin: 45px auto;
  padding: 15px 25px;
  border: none;   
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  color: var(--accent-color);
  float: right;
  margin-left: 18px;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}