@import url('font-sets.css');
@import url("color-scheme-light.css");

/* Styles for the entire login screen */

body {
  margin: 0;
  padding: 0;
  font-family: 'Metropolis';
  font-weight: normal;
}

.container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-color);
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--bg-color);
  user-select: none;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Metropolis';
  font-weight: 600;
  font-size: 48px;
  text-decoration-color: var(--text-color);
  margin-bottom: 20px;
}

.description {
  font-family: 'Metropolis';
  font-style: italic;
  font-size: 24px;
  text-decoration-color: var(--text-color);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
}

/* Styles for the form */

.form input[type="text"],
.form input[type="password"],
.form button {
  font-family: 'Metropolis';
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  outline: var(--primary-color) solid 2px;
}

.form input[type="text"]::placeholder,
.form input[type="password"]::placeholder {
  color: #999999; 
}

/* Styles for the buttons */

.form button {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.first-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.second-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.first-button:hover {
  background-color: var(--hover-color-primary);
}

.second-button:hover {
  background-color: var(--hover-color-secondary);
}

/* Styles of the floating box */

.floating-box {
  position: absolute;
  width: 550px;
  height: 140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.floating-box p {
  text-align: center;
}

.floating-box button {
  font-family: 'Metropolis';
  display: block;
  margin: 45px auto;
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
}

.close-button {
  color: var(--accent-color);
  float: right;
  margin-left: 18px;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.4s;
}