@import url('font-sets.css');
@import url('common.css');

/* Styles for each section of the profile page */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex;
    margin-bottom: 70px;
    margin-top: 1px;
    width: auto;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.section-line {
    width: 700px;
    height: 2px;
    background-color: var(--accent-color);
    margin-left: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.theme-button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 348px;
}

.change-button:hover {
    transform: scale(1.11);
}

.section-title,
.change-button {
    margin-left: 350px; 
}

.button-form-container {
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 330px;
}

/* Styles for the input of new data */

.text-form input {
    font-family: 'Metropolis';
    color: var(--text-color);
    border: var(--accent-color) solid 2px;
    outline: none;
    background-color: var(--bg-color);
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    caret-color: gray;
}

/* Styles for the save button */

.save-button {
    margin-left: 20px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.save-button:hover {
    transform: scale(1.11);
}