@import url('font-sets.css');
@import url('common.css');

/* Styles for each section of the profile page */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;
}

/* section-title and section-line are handled by common.css */

/* Styles for the input forms */

.button-form-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* Align form to left */
}

/* Flex layout for the form itself */
.text-form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.text-form input {
    font-family: 'Metropolis';
    color: var(--text-color);
    border: var(--accent-color) solid 2px;
    outline: none;
    background-color: var(--bg-color);
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 16px;
    flex-grow: 1;
    /* Input takes available space */
    max-width: 400px;
    /* But not too wide */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    caret-color: gray;
}

/* Styles for the save button */

.save-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    white-space: nowrap;
}

.save-button:hover {
    transform: scale(1.05);
    /* Slightly smaller scale effect */
}

/* Styles for the change theme button */

.theme-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.theme-button:hover {
    transform: scale(1.05);
}