@import url('font-sets.css');
@import url('common.css');

/* Styles for the "Crear snippet" section */

.snippet-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 70px;
    margin-top: 1px;
    width: 100%;
}

.section-title {
    margin-left: 350px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.section-line {
    width: 50%;
    height: 2px;
    background-color: var(--accent-color);
    margin-left: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Styles for the new snippet container */

#inputContainer {
    width: 700px;
    height: 500px;
    border-radius: 15px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles for the snippets' title field */

.title-field {
    width: 673px;
    height: 55px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 26px;
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
    text-align: left;
    position: relative;
    caret-color: gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title-field input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: 'Cascadia Code';
    background-color: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
}

/* Styles for the snippet input field */

.text-area {
    width: 100%;
    height: 100%;
    padding: 0;
    font: inherit;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.input-field {
    font-family: 'Cascadia Code';
    width: 673px;
    height: 230px;
    /* padding: 10px 15px; */
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 0px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: var(--text-color);
    line-height: 20px;
    font-size: 18px;
    padding: 15px;
    padding-top: 10px;
    text-align: left;
    resize: none;
    position: relative;
    caret-color: gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field::placeholder {
    position: absolute;
    left: 40px; 
}

/* Styles for the button to save the new snippet */

.save-button-container {
    display: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);  
}
    
.save-button {
    height: 80px;
    width: 350px;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    display: grid;
    place-items: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;   
}

.save-button:hover {
    transform: scale(1.15);
}

/* Styles for the snippet's list */

.snippet-list-title {
    margin-left: 350px;
    font-size: 24px;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.button-stack {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snippet-button {
    width: 700px;
    height: 70px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    background-color: var(--bg-color);
    font-family: 'Metropolis';
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* this class prevents the text from overflowing out of the button */
.snippet-button .snippet-title {
    color: var(--primary-color);
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.snippet-button::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 45%;
    margin-right: 5px;
    border: solid var(--accent-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: translateY(-50%) rotate(45deg);
}

.snippet-button:hover {
    transform: scale(1.15);
}

.snippet-title {
    color: var(--primary-color);
    margin-right: 10px;
    font-family: 'Cascadia Code';
}

.dropdown-menu{
    display: hidden;
    position: relative;
    background-color: var(--bg-color);
    min-width: 160px;
    z-index: 1;
    margin-top: -30px;
    margin-left: 10px;
}

/* Styles for the snippet code box */
.snippet-code-box {
    width: 500px;
    font-family: 'Cascadia Code';
    height: 300px;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding-top: 10px;
    padding: 5px 10px 10px 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 20px;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.snippet-search {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  align-items: center;
  margin-left: 725px;
}

.search-button{
  margin-left: 20px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.search-button:hover {
  transform: scale(1.11);
}

.search-input{
  font-family: 'Metropolis';
  color: var(--text-color);
  border: var(--accent-color) solid 2px;
  outline: none;
  background-color: var(--bg-color);
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  caret-color: gray;
}