@import url('font-sets.css');
@import url('common.css');

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.question-box {
    width: 500px;
    height: 200px;
    border: 2px solid var(--accent-color);
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.option-button {
    width: 500px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 16px;
    position: relative;
    top: 270px;
    left: calc(50% - 250px);
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: transform 0.2s;
}


.option-button:hover {
    transform: scale(1.15);
}

.option-button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid transparent;
    border-radius: 13px;
    transition: border-color 0.2s;
}
  
.option-button.selected::before {
    border-color: var(--accent-color);
}
  
.option-button input[type="radio"]:checked + .custom-radio {
    background-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
}
  
.answer-button {
    width: 300px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.answer-button button {
    width: 300px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    outline: inherit;
}
  
.answer-button.active {
    visibility: visible;
    opacity: 1;
}

.answer-button-animation:hover {
    transform: translateX(-50%);
}