<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('home.css')%>">
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
    <a href='/home'><h1 class="logo">codeQuest</h1></a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="current-page">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
      </ul>
    </nav>
  </header>
  <div class="button-stack">
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Que es Haskell?</h2>
        <h3 class="card-subtitle">Leccion 1</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">1</span>
    </button>
  </a>
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Tipos de datos</h2>
        <h3 class="card-subtitle">Leccion 2</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">2</span>
    </button>
  </a>
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Funciones</h2>
        <h3 class="card-subtitle">Leccion 3</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">3</span>
    </button>
  </a>
  <a href="/test">
    <button type="button" class="card test-card">
      <div class="card-content">
        <h2 class="card-title">Test 1</h2>
        <h3 class="card-subtitle">Funciones, tipos de datos</h3>
      </div>
      <div class="card-divider"></div>
      <span class="letter">A</span>
    </button>
  </a>
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Leccion 4</h2>
        <h3 class="card-subtitle">Subtitle goes here</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">4</span>
    </button>
  </a>
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Leccion 5</h2>
        <h3 class="card-subtitle">Subtitle goes here</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">5</span>
    </button>
  </a>
  <a href="/lesson">
    <button type="button" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Leccion 6</h2>
        <h3 class="card-subtitle">Subtitle goes here</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">6</span>
    </button>
  </a>
  <a href="/test">
    <button type="button" class="card test-card">
      <div class="card-content">
        <h2 class="card-title">Test 2</h2>
        <h3 class="card-subtitle">Subtitle goes here</h3>
      </div>
      <div class="card-divider"></div>
      <span class="letter">B</span>
    </button>
  </a>
</div>
</body>
</html>
