<!DOCTYPE html>
<html>
<head>
  <title>codeQuest - Home</title>
  <link rel="stylesheet" type="text/css" href="<%=url('/home.css')%>" >
</head>
<body>
  <header class="container">
    <h1 class="logo">codeQuest</h1>
    <div class="header-buttons">
      <button class="header-button">Profile</button>
      <button class="header-button">Snippets</button>
      <a href="/settings"><button class="header-button">Settings</button></a>
    </div>
  </header>

  <div class="content">
    <button class="learn-button">Start learning Haskell!</button>
  </div>
</body>
</html>
