<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('home.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png"> 
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
    <a href='/home'>
      <h1 class="logo">
        <img src="favicon2.png" alt="Logo">
        <span>codeQuest</span>
      </h1>
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="current-page">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
        <li><a href="/" class="nav-link">Salir</a></li>
      </ul>
    </nav>
  </header>
  <div class="button-stack">
    <div class="button-container">
      <button class="chapter-button" onclick="toggleDropdown('introduction-dropdown', this.parentElement)">
        <span class="chapter-title">Introduccion a Haskell</span>
        <div class="additional-text">4 actividades</div>
      </button>
      <div class="introduction-dropdown">
        <ul class="dropdown-content" id="introduction-dropdown">
          <li>
            <form action="/home" method="post">
              <input type="hidden" name="lesson_id" value="1">
              <button type="submit" class="card lesson-card">
                <div class="card-content">
                  <h2 class="card-title">Titulo de leccion</h2>
                </div>
                <div class="card-divider"></div>
                <span class="number">1</span>
              </button>
            </form>
          </li>
          <li>
            <form action="/home" method="post">
              <input type="hidden" name="lesson_id" value="1">
              <button type="submit" class="card lesson-card">
                <div class="card-content">
                  <h2 class="card-title">Titulo de leccion</h2>
                </div>
                <div class="card-divider"></div>
                <span class="number">1</span>
              </button>
            </form>
          </li>
        </ul>  
      </div>
    </div>
    <div class="button-container">
      <button class="chapter-button" onclick="toggleDropdown('functions-dropdown', this.parentElement)">
        <span class="chapter-title">Funciones</span>
        <div class="additional-text">4 actividades</div>
      </button>
      <div class="functions-dropdown">
        <ul class="dropdown-content" id="introduction-dropdown">
          <li>
            <form action="/home" method="post">
              <input type="hidden" name="lesson_id" value="1">
              <button type="submit" class="card lesson-card">
                <div class="card-content">
                  <h2 class="card-title">Titulo de leccion</h2>
                </div>
                <div class="card-divider"></div>
                <span class="number">1</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-container">
      <button class="chapter-button" onclick="toggleDropdown('monads-dropdown', this.parentElement)">
        <span class="chapter-title">Monadas</span>
        <div class="additional-text">4 actividades</div>
      </button>
      <div class="monads-dropdown">
        <ul class="dropdown-content" id="introduction-dropdown">
          <li>
            <form action="/home" method="post">
              <input type="hidden" name="lesson_id" value="1">
              <button type="submit" class="card lesson-card">
                <div class="card-content">
                  <h2 class="card-title">Titulo de leccion</h2>
                </div>
                <div class="card-divider"></div>
                <span class="number">1</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-container">
      <button class="chapter-button" onclick="toggleDropdown('functors-dropdown', this.parentElement)">
        <span class="chapter-title">Functores</span>
        <div class="additional-text">4 actividades</div>
      </button>
      <div class="functors-dropdown">
        <ul class="dropdown-content" id="introduction-dropdown">
          <li>
            <form action="/home" method="post">
              <input type="hidden" name="lesson_id" value="1">
              <button type="submit" class="card lesson-card">
                <div class="card-content">
                  <h2 class="card-title">Titulo de leccion</h2>
                </div>
                <div class="card-divider"></div>
                <span class="number">1</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    function toggleDropdown(className, buttonContainer) {
      var dropdowns = document.getElementsByClassName(className);
      
      for (var i = 0; i < dropdowns.length; i++) {
        var dropdown = dropdowns[i];

        if (dropdown.style.display === 'block') {
          dropdown.style.display = 'none';
          buttonContainer.style.marginBottom = '0';
        } else {
          dropdown.style.display = 'block';
          buttonContainer.style.marginBottom = dropdown.offsetHeight + 'px';
        }
      }
    };
  </script>   
</body>
</html>