<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('home.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png"> 
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
    <a href='/home'><h1 class="logo">codeQuest</h1></a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="current-page">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
        <li><a href="/" class="nav-link">Salir</a></li>
      </ul>
    </nav>
  </header>
  <div class="button-stack">

  <form action="/home" method="post">
    <input type="hidden" name="lesson_id" value="1">
    <button type="submit" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">¿Qué es Haskell?</h2>
        <h3 class="card-subtitle">Lección 1</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">1</span>
    </button>
  </form>

  <form action="/home" method="post">
    <input type="hidden" name="lesson_id" value="2">
    <button type="submit" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Tipos de datos</h2>
        <h3 class="card-subtitle">Lección 2</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">2</span>
    </button>
  </form>

  <form action="/home" method="post">
    <input type="hidden" name="lesson_id" value="3">
    <button type="submit" class="card lesson-card">
      <div class="card-content">
        <h2 class="card-title">Funciones</h2>
        <h3 class="card-subtitle">Lección 3</h3>
      </div>
      <div class="card-divider"></div>
      <span class="number">3</span>
    </button>
  </form>

  <form action="/home" method="post">
    <input type="hidden" name="test_id" value="1">
    <button type="submit" class="card test-card">
      <div class="card-content">
        <h2 class="card-title">Test A</h2>
        <h3 class="card-subtitle">Funciones y tipos de datos</h3>
      </div>
      <div class="card-divider"></div>
      <span class="letter">A</span>
    </button>
  </form>

</div>
</body>
</html>
