<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('lesson.css')%>">
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
    <a href='/home'><h1 class="logo">codeQuest</h1></a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="current-page">Home</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
      </ul>
    </nav>
  </header>
  <div class="text-container">
    <h1>Que es Haskell?</h1>
    <p>Haskell es un lenguaje funcional, creado por Haskell Curry en los años 80.
      Posee una notacion similar a la utilizada por los matematicos, lo que lo hace
      muy facil de leer y entender. Es un lenguaje de programacion estaticamente tipado,
      lo que significa que el tipo de cada variable debe ser declarado al momento de
      su creacion. Es un lenguaje puro, lo que significa que no posee efectos secundarios,
      es decir, no modifica el estado de las variables globales, ni tampoco realiza
      operaciones de entrada y salida. Es un lenguaje lazy, lo que significa que
      no evalua las expresiones hasta que sea necesario. Es un lenguaje de orden superior,
      lo que significa que las funciones pueden recibir otras funciones como parametros.
    </p>
  </div>
  <div class="continue-button-container">
    <a href='#'><button type="button" class="continue-button">Siguiente leccion</button></a>  
  </div>
</body>
</html>