<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('logins.css')%>">
</head>
<% if @theme = 'light' %>
<style>@import url('color-scheme-light.css');</style>
<% else %>
<% end %>
<body>
  <div class="container">
    <div class="left-section">
      <h1 class="logo">codeQuest</h1>
      <p class="description">La nueva forma de aprender Haskell!</p>
    </div>
    <div class="right-section">
      <div class="content">
        <% if params[:error] %>
          <div class="error">
            <div class="floating-box">
              <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
              <p>Esta cuenta no esta registrada. Por favor, crea primero la cuenta.</p>
              <a href="/signup"><button>Crear una cuenta</button></a>
            </div>
          </div>
        <% end %>
        <form class="form" action="#" method="post">
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Contraseña" required>
          <div class="button-wrapper">
            <button type="submit" id="primary-btn">Iniciar sesión</button>
            <a href="/signup"><button type="button" id="secondary-btn">Crear una cuenta</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const floatingBox = document.querySelector('.floating-box');
      const errorBox = document.querySelector('.error');

      // Function to handle outside click events
      function outsideClickHandler(event) {
        if (!floatingBox.contains(event.target) && errorBox.contains(event.target)) {
          errorBox.style.display = 'none';
        }
      }

      // Add event listener to the document
      document.addEventListener('click', outsideClickHandler);
    });
  </script>
</body>
</html>
