<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('logins.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png">
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <div class="container">
    <div class="left-section">
      <div class="logo">
        <img src="/favicon2.png" alt="codeQuest">
        <h1 class="logo">codeQuest</h1>
      </div>  
      <p class="description">La nueva forma de aprender Haskell!</p>
    </div>
    <div class="right-section">
      <div class="content">
        <% if params[:error] %>
          <div class="error">
            <div class="floating-box">
              <span class="close-button" onclick="this.parentElement.style.display='none';">×</span>
              <p>Esta cuenta no esta registrada. Por favor, crea primero la cuenta.</p>
              <a href="/signup"><button>Crear una cuenta</button></a>
            </div>
          </div>
        <% end %>
        <form class="form" action="#" method="post">
          <input type="text" name="nickname" placeholder="Nickname" required>
          <input type="password" name="password" placeholder="Contraseña" required>
          <div class="button-wrapper">
            <button type="submit" class="first-button">Iniciar sesión</button>
            <a href="/signup"><button type="button" class="second-button">Crear una cuenta</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
