<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('profile.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png">
</head>
<% @id = session[:account_id] %>
<% @account_theme = Account.find(@id).theme_light %>
<% if @account_theme %>
  <link rel="stylesheet" type="text/css" href="/color-scheme-light.css">
<% else %>
  <link rel="stylesheet" type="text/css" href="/color-scheme-dark.css">
<% end %>
<body>
  <header class="container">
    <a href='/home'>
      <h1 class="logo">
        <img src="favicon2.png" alt="Logo">
        <span>codeQuest</span>
      </h1>
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="nav-link">Inicio</a></li>
        <li><a href="/profile" class="current-page">Perfil</a></li>
        <li><a href="/snippets" class="nav-link">Snippets</a></li>
        <li><form action="/logout" method="post"><button type="submit" class="nav-link no-style-button">Salir</button></form></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="profile-section">
      <h2 class="section-title">Cambiar nickname</h2>
      <div class="section-line"></div>
      <div class="button-form-container">
        <form class="text-form" id="usernameForm" method="post">
          <input type="text" name="nicknameInput" placeholder="Nuevo nickname">
          <button class="save-button" type="submit">Guardar</button>
        </form>
      </div>
    </div>

    <div class="profile-section">
      <h2 class="section-title">Cambiar email</h2>
      <div class="section-line"></div>
      <div class="button-form-container">
        <form class="text-form" id="emailForm" method="post">
          <input type="text" name="emailInput" placeholder="Nuevo email">
          <button class="save-button" type="submit">Guardar</button>
        </form>
      </div>
    </div>

    <div class="profile-section">
      <h2 class="section-title">Cambiar contraseña</h2>
      <div class="section-line"></div>
      <div class="button-form-container">
        <form class="text-form" id="passwordForm" method="post">
          <input type="password" name="passwordInput" placeholder="Nueva contraseña">
          <button class="save-button" type="submit">Guardar</button>
        </form>
      </div>
    </div>

    <div class="profile-section">
      <h2 class="section-title">Modo oscuro</h2>
      <div class="section-line"></div>
      <% if @account_theme %>
        <form action= "/profile" method="post">
          <button class="theme-button" type="submit">Activar</button>
          <input type="hidden" name="theme" value="light">
        </form>
      <% else %>
        <form action= "/profile" method="post">
          <button class="theme-button" type="submit"> Desactivar</button>
          <input type="hidden" name="theme" value="dark">
        </form>
      <% end %>
    </div>
  </main>
</body>
</html>
