<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('signup.css')%>" > 
</head>
<body>
  <div class="container">
    <div class="left-section">
      <h1 class="logo">codeQuest</h1>
      <p class="description">The new way of learning Haskell!</p>
    </div>
    <div class="right-section">
      <div class="content">
        <% if params[:error_message] %>
          <div class="error">
            <div class="floating-box">
              <p>That account is already registered. Please sign in.</p>
              <a href="/"><button>Sign In</button></a>
            </div>
          </div>
        <% end %>
        <form class="form" action="#" method="post">
          <input type="text" name="name" placeholder="Name" required>
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="text" name="nickname" placeholder="Nickname" required>
          <div class="button-wrapper">
            <button type="submit">Create Account</button>
            <a href="/"><button type="button">Back to Sign In</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
