<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('/singin.css')%>" >
</head>
<body>
  <div class="container">
    <div class="left-section">
      <h1 class="logo">codeQuest</h1>
      <p class="description">The new way of learning Haskell!</p>
    </div>
    <div class="right-section">
      <div class="content">
        <form class="form" action="#" method="post">
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <button type="submit">Sign In</button>
          <a href="/login"><button type="button">Create an Account</button></a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
