<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('logins.css')%>" >
</head>
<body>
  <div class="container">
    <div class="left-section">
      <h1 class="logo">codeQuest</h1>
      <p class="description">La nueva forma de aprender Haskell!</p>
    </div>
    <div class="right-section">
      <div class="content">
        <% if params[:error] %>
          <div class="error">
            <div class="floating-box">
              <span class="close-button" onclick="this.parentElement.style.display='none';">×</span>
              <p>Esta cuenta ya existe. Por favor, inicia sesión.</p>
              <a href="/"><button>Iniciar sesión</button></a>
            </div>
          </div>
        <% end %>
        <form class="form" action="#" method="post">
          <input type="text" name="name" placeholder="Nombre" required>
          <input type="text" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Contraseña" required>
          <input type="text" name="nickname" placeholder="Nickname" required>
          <div class="button-wrapper">
            <button type="submit" class="first-button">Crear cuenta</button>
            <a href="/"><button type="button" class="second-button">Volver a iniciar sesión</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
