<!DOCTYPE html>
<html>
<head>
  <title>codeQuest - Snippets</title>
  <link rel="stylesheet" type="text/css" href="<%=url('profile.css')%>">
</head>
<body>
  <header class="container">
    <h1 class="logo">codeQuest</h1>
    <div class="header-buttons">
      <a href="/profile"><button class="header-button">Profile</button>
      <a href="/home"><button class="header-button">Home</button>
      <a href="/settings"><button class="header-button">Settings</button></a>
    </div>
  </header>
</body>
</html>
