<!DOCTYPE html>
<html>
<head>
  <title>codeQuest</title>
  <link rel="stylesheet" type="text/css" href="<%=url('snippets.css')%>">
  <link rel="icon" type="image/png" href="/favicon2.png">
</head>
<% if @theme == 'light' %>
  <style>@import url('color-scheme-light.css');</style>
<% else %>
  <style>@import url('color-scheme-dark.css');</style>
<% end %>
<body>
  <header class="container">
   <a href='/home'>
      <h1 class="logo">
        <img src="favicon2.png" alt="Logo">
        <span>codeQuest</span>
      </h1>
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/home" class="nav-link">Inicio</a></li>
        <li><a href="/profile" class="nav-link">Perfil</a></li>
        <li><a href="/snippets" class="current-page">Snippets</a></li>
        <li><form action="/logout" method="post"><button type="submit" class="nav-link no-style-button">Salir</button></form></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/snippets" method="post">
      <button type="button" class="new-snippet-button" onclick="showInput()">Crear snippet</button>
      <div id="inputContainer">
        <div class="title-field">
          <input type="text" name="snippet_description" placeholder="Descripción del snippet" />
        </div>
        <div class="input-field">
          <div class="line-count" id="lineCount">1</div>
          <textarea class="text-area" id="textInput" name="snippet_code" placeholder="Ingresa tu snippet" oninput="updateLineCount()"></textarea>
        </div>
        <div class="button-container">
          <button class="save-button" type="submit">Guardar</button>
        </div>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
    </form>
  </main>
  
  <script>
    function toggleVisibility(element) {
      element.style.visibility = element.style.visibility === 'visible' ? 'hidden' : 'visible';
    }

    function showInput() {
      const titleField = document.querySelector('.title-field');
      const inputField = document.querySelector('.input-field');
      const buttonContainer = document.querySelector('.button-container');

      toggleVisibility(titleField);
      toggleVisibility(inputField);
      toggleVisibility(buttonContainer);
    } 

    function updateLineCount() {
      const textarea = document.getElementById('textInput');
      const lineCount = document.getElementById('lineCount');
      const lines = textarea.value.split('\n');
      let lineNumbers = '';

      for (let i = 0; i < lines.length; i++) {
        lineNumbers += (i + 1) + ' \n';
      }

      lineCount.textContent = lineNumbers;
    }
  </script>
</body>
</html>
